@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: #FF5757;
}

#home {
    height: 100vh;
    position: relative;
}

.header-fundo {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.background-inicial {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(18%);
    transform: scaleX(-1);
}

#logo {
    width: 100px;
    height: 100px;
}

nav {
    position: fixed;
    top: 0;
    z-index: 99999;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px;
    left: 0;
    gap: 32px;
}

#navbar-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 32px;
    flex-grow: 1;
    align-items: center;
}

#navbar-list a {
    text-decoration: none;
    color: white;
    transform: 0.5s;
    position: relative;
    text-transform: uppercase;
}

#navbar-list a:hover {
    color: #FF5757;
}

.login-button {
    width: 80px;
    height: 40px;
    border-radius: 6px;
    border: 0;
    font-family: Poppins;
    transition: 0.5s;
    text-transform: uppercase;

}

.login-button:hover {
    background-color: transparent;
    color: white;
    border: 1px solid;
}

.stars {
    top: 0;
    /* background: url('../img/imagePc.png'); */
    height: 100vh;
    position: absolute;
    left: 0;
    width: 100dvw;
    animation: starsSpace linear infinite forwards 10s;
}


#navbar-list .links-nav::before {
    content: '';
    bottom: -4px;
    position: absolute;
    background-color: #FF5757;
    border-radius: 4px;
    width: 100%;
    transform: scaleX(0);
    transition: transform .2s;
    transform-origin: center;
    height: 2px;
}

#navbar-list .links-nav:hover::before {
    transform: scaleX(1);
    transform-origin: center;
    background-color: #FF5757;
}



#header_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FF5757;
}

.slogan {
    width: 500px;
    font-size: 20px;
}

.header-image {
    width: 500px;
    animation: float 2s infinite ease-in-out alternate;
}



@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(15px);
    }

}

.oque-e {
    background-color: #FFF;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.texto_sobre {
    display: flex; 
    justify-content: space-around;
    flex-direction: column;   
}

.texto_sobre h1{
    font-size: 30px;
    color: #FF5757;
    display: flex;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 20px;
}

.texto_sobre span {
    color: black;
    display: flex;
    text-align: end;
    font-size: 20px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image img {
    width: 75%;
    height: 50%;
    object-fit: cover;
}


